body {
  background-color: red;
}

#head{
  font-family: 'Satisfy';

}

#container {
  width: 400px;
  height: 400px;
  position: relative;
  background-color: yellow;
}

#welcome {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: blue;
}


#content{
  font-family: Georgia, serif;
}